name: trivy-headlamp-plugin linting, type checking, testing, and pre-release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write
  packages: write

env:
  PLUGIN_NAME: trivy-plugin
  releaseName: latest

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./

    strategy:
      matrix:
        node-version: [21.x]

    steps:
      - uses: actions/checkout@v4

      - name: Update package.json
        uses: fjogeleit/yaml-update-action@v0.15.0
        with:
          valueFile: package.json
          propertyPath: version
          value: '${{ env.releaseName }}'
          commitChange: false

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npx @kinvolk/headlamp-plugin lint .
      - run: npx @kinvolk/headlamp-plugin format --check .
      - run: npx @kinvolk/headlamp-plugin tsc .
      - run: npx @kinvolk/headlamp-plugin test .
      - run: npx @kinvolk/headlamp-plugin build .

      - name: create-archive
        run: |
          mkdir -p ${PLUGIN_NAME}
          cp dist/main.js package.json ${PLUGIN_NAME}
          tar -czf ${{ github.event.repository.name }}-latest.tar.gz ${PLUGIN_NAME}

      - name: Create Latest Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ github.token }}
          tag_name: latest
          prerelease: true
          files: |
            ${{ github.event.repository.name }}-latest.tar.gz

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push image with plugin files.
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/kubebeam/trivy-headlamp-plugin:latest
